
.imageAlignTop .blockImage {
  max-width: 171px;
  margin-bottom: 0;
}

.blockContent {
  padding-left: 20px;
  padding-right: 20px;
}

.button:first-of-type {
  margin-right: 20px;
}


.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 30px;
}


.icon-text__icon {
  margin-left: 10px;
  margin-right: 20px;
}

.icon-text__text {
  max-width: 460px;
}


h2 {
  margin-top: 70px;
}


.button--block {
  display: block;
}



@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .homeContainer {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {

}
